include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include naples_frappe *.css
recursive-include naples_frappe *.csv
recursive-include naples_frappe *.html
recursive-include naples_frappe *.ico
recursive-include naples_frappe *.js
recursive-include naples_frappe *.json
recursive-include naples_frappe *.md
recursive-include naples_frappe *.png
recursive-include naples_frappe *.py
recursive-include naples_frappe *.svg
recursive-include naples_frappe *.txt
recursive-exclude naples_frappe *.pyc